= render 'layouts/flash_message'
= simple_form_for @imovel, remote: true do |f|
  .form-row
    .col
      = f.association :proprietario, label_method: :nome, value_method: :id, include_blank: 'Selecione o Proprietário'
  .form-group
    = f.input :endereco, placeholder: 'Formato: Rua x, nº xxxxx', input_html: {id: 'end_imovel'}

  .form-row
    .col
      = f.input :area_terreno, label: 'Área do Terreno', required: true, input_html: { step: 0.0, value: @imovel.area_terreno }, hint: 'Em m²', placeholder: '0.0'
    .col 
      = f.input :area_construida, label: 'Área Construída', required: true, input_html: { step: 0.0, value: @imovel.area_construida }, hint: 'Em m²', placeholder: '0.0'

  .form-row
    .col
      = f.input :valor_venal_terreno, required: true, hint: 'Valor em R$', placeholder: '0.0', input_html: { step: 0.0, value: @imovel.valor_venal_terreno }
    .col
      = f.input :valor_venal_construcao, required: true, hint: 'Valor em R$', placeholder: '0.0', input_html: { step: 0.0, value: @imovel.valor_venal_construcao } 
 
  .form-row
    .col
      = f.input :aliquota, label: 'Alíquota', required: true, hint: 'Valor em %', placeholder: '0.0', input_html: { step: 0.0, value: @imovel.aliquota }
    .col
      = f.input :aliquota_aplicada, required: true, hint: 'Valor em %', placeholder: '0.0', input_html: { step: 0.0, value: @imovel.aliquota_aplicada }
  
  - unless @imovel.new_record?
    %hr
    %h5.my-4 Valores Totais

    .form-row 
      .col
        = f.input :valor_imposto, input_html: { step: 0.0, value: @imovel.valor_imposto }, readonly: true
      .col
        = f.input :valor_venal_total, input_html: { value: @imovel.valor_venal_total }, readonly: true
      .col
        = f.input :area_total, input_html: { value: @imovel.area_total }, readonly: true

      
  .d-flex.justify-content-end
    %button.btn.btn-dark.mr-1{"data-dismiss" => "modal", :type => "button"} 
      %i.fas.fa-times
      Cancelar

    %button.btn.btn-primary.mr-1{type: 'submit', id: 'btn_submit_imovel'}
      %i.fas.fa-plus
      Salvar